<!DOCTYPE html>
<html lang="en">

<head data-include-path="/inc/head.html"></head>
<script src="/common/js/common.js"></script>

<body>
  <main class="main view">
    <aside data-include-path="/inc/aside.html"></aside>
    <section class="section section-main_list">
      <div class="inner">
        <h3 class="heading">Header</h3>
        <div class="article-group">
          <article>
            <a href="/components/header/header1.html">
              <figure>
                <img src="/common/img/header/header-thum1.gif" alt="">
              </figure>
              <div class="txt-box">
                <h4 class="sbj"></h4>
                <p class="desc"></p>
              </div>
            </a>
          </article>
          <article>
            <a href="#"></a>
          </article>
        </div>
      </div>
    </section>
  </main>
</body>

</html>
