<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../common/css/font/font.css">
  <link rel="stylesheet" href="../../common/css/base.css">
  <link rel="stylesheet" href="../../common/css/common.css">
  <script src="../../common/js/common.js"></script>
  <title>Document</title>
</head>
<body>
  <main class="main view">
    <aside data-include-path="/inc/aside.html"></aside>
    <section class="section section-main_list">
      <div class="inner">
        <h3 class="heading">Pagination</h3>
        <div class="article-group">
          <article>
            <a href="./pagination1.html">
              <figure>
                <img src="../../common/img/pagination/pagination-thum1.gif" alt="">
              </figure>
              <div class="txt-box">
                <h4 class="sbj"></h4>
                <p class="desc"></p>
              </div>
            </a>
          </article>
        </div>
      </div>
    </section>
  </main>
</body>

</html>
