<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../common/css/font/font.css">
  <link rel="stylesheet" href="../../common/css/base.css">
  <link rel="stylesheet" href="../../common/css/common.css">
  <script src="../../common/js/gsap.min.js"></script>
  <script src="../../common/js/scrollreveal.min.js"></script>
  <script src="../../common/js/ScrollTrigger.min.js"></script>
  <script src="../../common/js/ScrollToPlugin.min.js"></script>
  <script src="../../common/js/jquery-1.12.4.min.js"></script>
  <script src="../../common/js/jquery-1.8.3.min.js"></script>
  <script src="../../common/js/jquery-ui.js"></script>
  <script src="../../common/js/lenis.min.js"></script>
  <script src="../../common/js/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <!-- 위 script 필요 -->
  <script src="../../common/js/common.js"></script>
  <title>Document</title>
</head>
<body id="git">
  <div class="kit-group">
    <div class="content-view-area">
      <div class="kit-view-box">
<!-- html , style, js 작성 -->
<div class="contetn content2">
  <div class="swiper tab_sw">
    <div class="tab_wrap swiper-wrapper">
      <div class="swiper-slide">
        <button type='button' class='active'><span></span>학력</button>
      </div>
      <div class="swiper-slide">
        <button type='button' class=""><span></span>경력</button>
      </div>
      <div class="swiper-slide">
        <button type='button' class=""><span></span>수상내역(개인)</button>
      </div>
      <div class="swiper-slide">
        <button type='button' class=""><span></span>수상내역(회사)</button>
      </div>
      <div class="swiper-slide">
        <button type='button' class=""><span></span>저서</button>
      </div>
      <div class="swiper-slide">
        <button type='button' class=""><span></span>대외활동</button>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="group_wrap">
      <div class="group_content group_content1">
        <div class="group">
          <h2>2017년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>서울대학교 건축학과 박사학위 취득</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2001년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>서강대학교 경영대학원(MBA) 졸업</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>1973년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>서울대학교 건축학과 졸업</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>1968년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>서울사대부고 졸업</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="group_content group_content2">
        <div class="group">
          <h2>2017년~現</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>한미글로벌 회장</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2009년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>한미글로벌 대표이사 회장</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>1996년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>한미글로벌 대표이사 사장</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>1984년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>삼성물산㈜</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>1979년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>㈜한양</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>1977년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>한라건설㈜</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>1973년</h2>
          <ul>
            <li class='flex_box'>
              <span class='right'>㈜ 한샘건축연구소</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="group_content group_content3">
        <div class="group">
          <h2>2023년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">04월</span>
              <span class='right'>한국의 100대 CEO 17번째 선정(매경이코노미, 2005년~)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2017년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">11월</span>
              <span class='right'>최고전략경영상 (2017 한국전략경영학회 추계학술대회)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2017년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">06월</span>
              <span class='right'>서울대 공과대학 올해의 자랑스러운 동문상</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2016년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">09월</span>
              <span class='right'>제 25회 다산경영상 '창업경영인 부문' 수상</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2015년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">03월</span>
              <span class='right'>은탑산업훈장 수상</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2013년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">03월</span>
              <span class='right'>제 17회 한국공학한림원 대상 수상</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2011년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">07월</span>
              <span class='right'>한국의 경영대가 30인 2회 연속 선정 (매경이코노미)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2011년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">03월</span>
              <span class='right'>한국을 빛낸 창조경영대상 `미래경영부문` 3년 연속 수상 (중앙일보, 지식경제부)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2010년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>대한민국 훌륭한 일터상 최고경영자상 수상 (GWP 코리아)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2009년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>한국 CEO 그랑프리 `서비스부문` 수상 (한국 CEO 연구포럼, 머니투데이)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2008년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>자랑스런 한국인대상 `건설발전부문` 수상 (한국언론인연합회)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2008년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">08월</span>
              <span class='right'>피터드러커 혁신상, 혁신 CEO부문 수상(피터드러커 소사이어티)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2002년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>월드컵 기장(문화관광부 장관)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2002년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">11월</span>
              <span class='right'>대한민국 정부 체육포장 (대한민국 정부)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2001년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>건설경영대상(건설단체 총연합회)</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="group_content group_content4">
        <div class="group">
          <h2>2023년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>2023 헤럴드 일자리 대상(고용노동부장관상) 수상</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>2023년도 '가족친화 최고기업' 선정(여성가족부)</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>제60회 무역의 날 '천만불 수출의 탑' 수상</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">11월</span>
              <span class='right'>'2023 좋은 일자리 대상' 여성가족부 장관상(일하는 여성이 행복한 기업 부문) 수상</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">10월</span>
              <span class='right'>제13회 대한민국 SNS대상 건설부문 대상 수상</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">09월</span>
              <span class='right'>제20회 서울시 성평등상 '저출생 극복' 분야 우수상 수상</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">07월</span>
              <span class='right'>2023 대한경제 스마트CM대상 수상</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">06월</span>
              <span class='right'>제25회 여성이 뽑은 최고의 명품대상 '특별상(여성가족부 장관상)' 수상</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">05월</span>
              <span class='right'>'2023 대한민국 150대 지속가능 선도기업' 선정</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2022년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">09월</span>
              <span class='right'>고용노동부 주관 '2022 인적자원개발 우수기관(BEST HRD)' 선정</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">08월</span>
              <span class='right'>고용노동부 주관 '대한민국 일자리 으뜸기업' 선정</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">08월</span>
              <span class='right'>ENR紙 선정 미국제외 세계 PM, CM 기업 매출액 8위 랭크</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2021년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">07월</span>
              <span class='right'>고용노동부 주관 ‘대한민국 일자리 으뜸기업’ 선정</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2019년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">10월</span>
              <span class='right'>제6회 대한민국 독서경영 우수직장 인증 최우수상 수상</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2017년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">10월</span>
              <span class='right'>한미글로벌 2017년 한국 최고의 직장 (Best Employer in Korea) 선정</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2015년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">02월</span>
              <span class='right'>AonHewit 한국 최고의 직장 TOP 10, 3회연속 선정</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2011년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">11월</span>
              <span class='right'>대한민국 훌륭한 일터상 9년 연속 수상(2009년 전체대상, 2008년~2011년 4년 연속 대상)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2010년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">02월</span>
              <span class='right'>한국노사협력대상 우수상</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2009년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>2009 전국 자원봉사자 대회 국무총리표창 수상</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">11월</span>
              <span class='right'>지속가능경영대상 최우수상 (지식경제부)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2008년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">04월</span>
              <span class='right'>제 7회 공정거래의 날 국무총리상 표창</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">01월</span>
              <span class='right'>2008 국제경영원 지식경영부문 경영대상 수상</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2007년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">09월</span>
              <span class='right'>국가 생산성대상 국무총리상 표창</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2006년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>2006 한국자원봉사대상 우수상 수상(한국사회복지협의회)</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">07월</span>
              <span class='right'>2006 대한민국 BSC대상 (한경-웨슬리퀘스트)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2005년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>제12회 기업혁신대상 금상 국무총리상(대한상공회의소)</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>디지털지식경영대상 전경련회장상 수상 (정보통신부, 전국경제인연합회)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2004년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">12월</span>
              <span class='right'>매경 부즈앨런 지식경영대상(매일경제신문)</span>
            </li>
          </ul>
        </div>
        <div class="group">
          <h2>2003년</h2>
          <ul>
            <li class='flex_box'>
              <span class="left bold">10월</span>
              <span class='right'>2003 대한민국 훌륭한일터상(한국경제신문, 엘테크 신뢰경영연구소)</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="group_content group_content5">
        <div class="group">
          <h4>
            경영에세이 "우리는 천국으로 출근한다"<br />
            멘토링 도서 '완벽을 향한 열정'<br />
            프로젝트 성공 지침서 '프리콘 : 시작부터 완벽에 다가서는 일'<br />
            인문 건축 여행서 ‘김종훈 회장의 세계 현대건축 여행’
          </h4>
          <p>
            미국 건설산업 왜 강한가 (김예상 공저)<br />
            일류 발주자가 일등 건설산업 만든다.<br />
            영국 건설산업의 혁신전략과 성공사례 (김한수 공저)<br />
            한국 건설산업 大解剖 (이상호 공저)<br />
            미국의 설계 경쟁력 어디에서 오나? (김예상 공저)<br />
            코리안 스탠다드에서 글로벌 스탠다드로 (이상호 공저)<br />
            삼풍사고 10주년 교훈과 대책 (홍성태, 안홍섭, 박홍신 공저)<br />
            Construction Management A to Z(CM 프로젝트 이렇게 관리하면 성공한다) (한미글로벌 지음)<br />
            Construction Management Best Practice(CM 프로젝트 이것이 최고의 성공사례다) (한미글로벌 지음)<br />
            발주자가 바뀌지 않고는 건설산업의 미래는 없다 (김한수, 한미글로벌 지음)<br />
            일류 발주자가 일등 건설산업 만든다 (이상호, 한미글로벌 지음)<br />
            일본 건설산업의 생존전략 (일본 건설산업구조연구회 ,한미글로벌 공저)<br />
            중국건설산업의 현황과 진출전략 (중국 저장(浙江)대학 박인성 교수 외, 한미글로벌 공저)
            미국 CM A to Z-이것이 미국 CM이다 (한미글로벌 저)<br />
            Construction Management A to Z, 2nd Edition (CM 프로젝트 이렇게 관리하면 성공한다) (한미글로벌 저)<br />
            Construction Management Best Practices 2 (CM 프로젝트 이것이 최고의 성공사례다) (한미글로벌 지음)<br />
            Sustainable Buildings and Infrastructure Paths to the Future (안용환, 애니피어스 공저)<br />
            Sustainable Buildings and Infrastructure Paths to the Future (지속가능한 건축과 인프라)(안용환, 애니피어스 공저)<br />
            35명의 전문가에게 건설의 길을 묻다 (김정호, 건설산업비전포럼 공동기획)<br />
            발주자가 반드시 알아야 할 턴키제도(Design-Build)의 진실 (존 슈펠버거, 김용우, 한승헌, 진경호 공저)
          </p>
        </div>
      </div>
      <div class="group_content group_content6">
        <div class="group">
          <ul>
            <li class='flex_box'>
              <span class="left bold">2010. 03~</span>
              <span class='right'>(現) 사회복지법인 '따뜻한 동행' 이사장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2022. 10~</span>
              <span class='right'>(現) (사)한반도미래인구연구원 창립자 및 회장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2004. 03~2006. 01 / 2018. 01~</span>
              <span class='right'>(現) (사)건설산업비전포럼 이사</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2006. 01~2018. 01</span>
              <span class='right'>(現) (사)건설산업비전포럼 공동대표</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2015. 01~</span>
              <span class='right'>(現) 한국공학한림원 원로회원</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2009. 01~2014. 01</span>
              <span class='right'>(現) 한국공학한림원 정회원</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2007. 01~2008. 01</span>
              <span class='right'>(現) 한국공학한림원 일반회원</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2005. 11~2007. 11 / 2019. 12~</span>
              <span class='right'>(現) 한국건설관리학회 고문</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2003. 11~2005. 11</span>
              <span class='right'>(現) 한국건설관리학회 부회장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2001. 11~2003. 11</span>
              <span class='right'>(現) 한국건설관리학회 이사</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2020.06~</span>
              <span class='right'>(現) 서울대학교 총동창회 상임부회장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2015. 02~</span>
              <span class='right'>(現) 서울대 공대 교육연구재단 이사</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">現) 서울여해재단 이</span>
              <span class='right'>(2017. 01~)</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2012. 05~</span>
              <span class='right'>(現) 책권하는사회운동본부 공동대표</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2008. 04~2009. 01</span>
              <span class='right'>(前) 건설산업선진화 위원장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2009. 01~2010. 02</span>
              <span class='right'>(前) 국토해양부 장관 정책자문위원</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2011. 01~2016. 01</span>
              <span class='right'>(前) 여성가족부 가족친화포럼 공동대표</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2014</span>
              <span class='right'>(前) 한반도국토포럼 창립자</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2010. 09~2020. 03</span>
              <span class='right'>(前) (사)CEO지식나눔 창립자 및 이사</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2007. 12~2015. 12</span>
              <span class='right'>(前) 중부재단 이사</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2008. 03~2011. 02</span>
              <span class='right'>(前) KT&G 사외이사</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2009. 10~2013. 10</span>
              <span class='right'>(前) 홈플러스 e-파란재단 이사</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2000. 01~2003. 01</span>
              <span class='right'>(前) 한국 외국기업협회 부회장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2009. 04~2012. 04</span>
              <span class='right'>(前) 한국 CM협회 부회장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">1999. 08~2009. 04</span>
              <span class='right'>(前) 한국 CM협회 이사</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2003. 12~2007. 12</span>
              <span class='right'>(前) 대한건축학회 초고층건축물 건설기술개발 연구단 자문위원</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2006. 03~2013. 08</span>
              <span class='right'>(前) 광운대 건축학과 겸임교수</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2002. 03~2002. 08</span>
              <span class='right'>(前) 숭실대 건축학과 겸임교수</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2010. 03~2011. 02</span>
              <span class='right'>(前) 한양대 건축환경공학과 겸임교수</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2008. 04~2009. 02</span>
              <span class='right'>(前) 동국대학교 경영전문대학원(MBA) 겸임교수</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2010. 10~2011. 09</span>
              <span class='right'>(前) 서울사이버대학교 부동산학과 석좌교수</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">1997.6~2000.05</span>
              <span class='right'>(前) 대한상사중재원 건설부문 중재인</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2007. 03~2009. 02</span>
              <span class='right'>(前) 대한중재인협회 부회장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">1995. 03~2012. 01</span>
              <span class='right'>(前) 서울민사지방법원 조정위원</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2015. 02~2016. 01</span>
              <span class='right'>(前) 서울대 건축과 총동창회장</span>
            </li>
            <li class='flex_box'>
              <span class="left bold">2011. 01~2012. 12</span>
              <span class='right'>(前) 서울사대부고 총동창회장</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.content2{ padding: 160px 0; background: url(https://kimjonghoon.com/new/images/sub/mystory/profile_bg1.png) no-repeat center/cover; background-attachment: fixed; color: #fff; position: relative;}
.content2 .inner { width: 75%; margin: 0 auto; max-width: 1200px;}
.content2 h2 { color: #fff; margin-bottom: 42px;}
.content2 .group_wrap { padding-left: 160px;}
.content2 .group_wrap .group { margin-bottom: 130px;}
.content2 .group_wrap .group li.flex_box { gap: 40px;}
.content2 .group_wrap .group li.flex_box:not(:last-child) { margin-bottom: 15px;}
.content2 .group_wrap .group span { font-size: 16px;}
.content2 .group_wrap .group h4 { margin-bottom: 25px;}
.content2 .group_wrap .group h5 { margin-bottom: 42px;}
.content2 .group_wrap .group p { font-size: 16px; line-height: 32px;}
.content2 .group_wrap .group_content:last-child .group:last-child { margin-bottom: 0;}
.content2 .tab_sw { position: absolute; top: 165px; left: 5.255%; }
.content2 .tab_sw.fixed { position: fixed; top: 165px;}
.content2 .tab_wrap { display: flex; flex-direction: column; gap: 25px 0; align-items: flex-start; z-index: 1;}
.content2 .tab_wrap:before { content:''; display: block; width: 40px; height: calc(100% + 40px); position:absolute; left:0; top:50%; transform: translateY(-50%); background: rgb(48, 49, 50, .5); border-radius: 30px; z-index: -1;}
.content2 .tab_wrap button { color: #fff; font-size: 16px; font-weight: 600; line-height: 1; width: auto;}
.content2 .tab_wrap button span { width: 6px; height: 6px; border-radius: 50%; background: #fff; display: inline-block; margin-right: 34px; margin-left: 16px; vertical-align: middle; margin-bottom: 3px;}
.content2 .tab_wrap button.active { color: #C1BC5F;}
.content2 .tab_wrap button.active span { background: #C1BC5F;}
@media screen and (max-width: 768px) {
  .content2 { padding: 0px 0 60px;}
  .content2 .inner { width: 90%;}
  .content2 .group_wrap { padding-left: 0;}
  .content2 .group_wrap .group { margin-bottom: 60px;}
  .content2 .tab_sw { position: sticky; top: 0px; left: 0; padding: 20px 10px; overflow: hidden; margin-bottom: 30px; z-index: 10; background: rgb(0, 0, 0, .5);}
  .content2 .tab_wrap { flex-direction: row;}
  .content2 .tab_wrap .swiper-slide { width: auto;}
  .content2 .tab_wrap:before { display: none;}
  .content2 .tab_wrap button span { margin-right: 10px; margin-left: 6px;}
  .content2 .group_wrap .group li.flex_box { gap: 20px;}
  .content2 h2 { margin-bottom: 20px;}
  .content2 .group_wrap .group h4 br,
  .content2 .group_wrap .group p br,
  .content2 .group_wrap .group h5 br { display: none;}
  .content2 .group_wrap .group_content6 .group .flex_box { flex-wrap: wrap;}
  .content2 .group_wrap .group_content6 .group .flex_box span { width: 100%;}
}
</style>
<script>
document.addEventListener('DOMContentLoaded', () => {
const isMobile = window.matchMedia("(max-width: 767px)").matches;

const initLenis = () => {
  if (!isMobile) {
    const lenis = new Lenis({
      duration: 1.2,
      infinite: false,
      easing: t => (t === 1 ? 1 : 1 - Math.pow(2, -10 * t)),
      gestureOrientation: "vertical",
      normalizeWheel: false,
      smoothTouch: true
    });

    const raf = (time) => {
      lenis.raf(time);
      requestAnimationFrame(raf);
    };
    requestAnimationFrame(raf);

    return lenis;
  }
};

const initSwiper = () => {
  if (isMobile) {
    new Swiper('.swiper', {
      slidesPerView: 'auto',
      spaceBetween: 20,
    });
  }
};

const initScrollTrigger = (lenis) => {
  if (!isMobile) {
    gsap.registerPlugin(ScrollTrigger);

    ScrollTrigger.create({
      trigger: ".content2",
      start: "top 0",
      scroller: lenis.wrapper,
      onEnter: () => document.querySelector(".tab_sw").classList.add("fixed"),
      onLeaveBack: () => document.querySelector(".tab_sw").classList.remove("fixed"),
      refreshPriority: 1
    });

    lenis.on('scroll', ScrollTrigger.update);
  }
};

const initTabs = (lenis) => {
  const groupContents = document.querySelectorAll('.group_content');
  groupContents.forEach(content => content.style.display = 'none');
  groupContents[0].style.display = 'block';

  const tabButtons = document.querySelectorAll('.tab_wrap button');
  tabButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      tabButtons.forEach(btn => btn.classList.remove('active'));
      if (!isMobile) {
        lenis.stop();
      }
      button.classList.add('active');

      groupContents.forEach(content => content.style.display = 'none');
      groupContents[index].style.display = 'block';

      setTimeout(() => {
        document.querySelector('.content2').scrollIntoView({ behavior: 'smooth' });
        if (!isMobile) {
          lenis.start();
        }
      }, 100);
    });
  });
};

const lenis = initLenis();
initSwiper();
initTabs(lenis);
if (lenis) {
  initScrollTrigger(lenis);
  }
});
</script>
      </div>
    </div>
    <div class="content-code-area" data-lenis-prevent>
      <div class="inner accordion-wrap">
        <div class="content-top">
          <button type="button" class="btn-accordion on"><img src="../../common/img/ico-arrow-accordion.png" alt=""></button>
          <button type="button" class="btn-prevlink"><img src="../../common/img/ico-arrow-prevlink.png" alt=""></button>
        </div>
        <div class="content-body on">
          <div class="tabs">
            <button class="tab-button" data-tab="html">HTML</button>
            <button class="tab-button" data-tab="css">CSS</button>
            <button class="tab-button" data-tab="js">JavaScript</button>
          </div>
          <pre><code class="kit-code-box hljs"></code></pre>
          <button class="copy-button">복사</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


