<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../common/css/font/font.css">
  <link rel="stylesheet" href="../common/css/base.css">
  <link rel="stylesheet" href="../common/css/common.css">

  <!-- 위 script 필요 -->
  <script src="../common/js/common.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="kit-group">
    <div class="content-view-area">
      <div class="kit-view-box">
<!-- html , style, js 작성 -->
<style>
</style>
<script>
</script>
      </div>
    </div>
    <div class="content-code-area">
      <div class="tabs">
        <button class="tab-button" data-tab="html">HTML</button>
        <button class="tab-button" data-tab="css">CSS</button>
        <button class="tab-button" data-tab="js">JavaScript</button>
      </div>
      <textarea class="kit-code-box"></textarea>
      <button class="copy-button">복사</button>
    </div>
  </div>
</body>
</html>


