<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../common/css/font/font.css">
  <link rel="stylesheet" href="../../common/css/base.css">
  <link rel="stylesheet" href="../../common/css/common.css">
  <script src="../../common/js/gsap.min.js"></script>
  <script src="../../common/js/scrollreveal.min.js"></script>
  <script src="../../common/js/ScrollTrigger.min.js"></script>
  <script src="../../common/js/ScrollToPlugin.min.js"></script>
  <script src="../../common/js/jquery-1.12.4.min.js"></script>
  <script src="../../common/js/jquery-1.8.3.min.js"></script>
  <script src="../../common/js/jquery-ui.js"></script>
  <script src="../../common/js/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <!-- 위 script 필요 -->
  <script src="../../common/js/common.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="kit-group">
    <div class="content-view-area">
      <div class="kit-view-box">
<!-- html , style, js 작성 -->
<div class="inner">
  <div class="accordion-wrap on">
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2 on"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body on">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-boxs">
      <div class="accordion-top">
        <div class="col left">
          <b>Q</b>
          <p class="text">제 계좌가 아니어도 수익금 받을 수 있나요?</p>
        </div>
        <div class="col right">
          <button type='button' class="btn-accordion2"><img src="../../common/img/accordion/icon-plus-white.png" alt=""></button>
        </div>
      </div>
      <div class="accordion-body">
        <div class="col">
          <b>A</b>
          <p class="text">
            지급 불가합니다. <br>가입자명과 예금주명이 동일해야 정상 지급됩니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.kit-group { background-color: #151515;}
.accordion-boxs { padding: 45px 40px 40px; font-size: 16px; color: #fff;}
.accordion-boxs:not(:last-child) { border-bottom: 1px solid #333;}
.accordion-boxs b { font-size: 24px; font-weight: bold; line-height: 1;}
.accordion-boxs .accordion-top { display: flex; justify-content: space-between;}
.accordion-boxs .accordion-top .col.left { display: flex; gap: 35px;}
.accordion-boxs .accordion-top .col.right button.on img { transform: rotate(45deg); transition: transform 0.2s;}
.accordion-boxs .accordion-body { padding-top: 30px; max-height: 0; overflow: hidden; }
.accordion-boxs .accordion-body.on { max-height: 1000px; transition: max-height 1s;}
.accordion-boxs .accordion-body .col { display: flex; gap: 35px; padding: 40px; background: #333; border-radius: 10px;}
.accordion-boxs .accordion-body b { color: var(--green-color);}
</style>
<script>
document.addEventListener('DOMContentLoaded', function () {
  accordion('.accordion-wrap .btn-accordion2', '.accordion-wrap .accordion-body');
});
// 아코디언 드롭다운
function accordion(accordionBtnSelector, accordionContentSelector) {
  const accordionBtns = document.querySelectorAll(accordionBtnSelector);
  const accordionContents = document.querySelectorAll(accordionContentSelector);

  accordionBtns.forEach((el, idx) => {
    el.addEventListener('click', () => {
      const isActive = el.classList.contains('on');

      accordionBtns.forEach((btn) => {
        btn.classList.remove('on');
      });
      accordionContents.forEach((content) => {
        content.classList.remove('on');
      });

      if (!isActive) {
        el.classList.add('on');
        accordionContents[idx].classList.add('on');
      }
    });
  });
}
</script>
      </div>
    </div>
    <div class="content-code-area">
      <div class="inner accordion-wrap">
        <div class="content-top">
          <button type="button" class="btn-accordion on"><img src="../../common/img/ico-arrow-accordion.png" alt=""></button>
          <button type="button" class="btn-prevlink"><img src="../../common/img/ico-arrow-prevlink.png" alt=""></button>
        </div>
        <div class="content-body on">
          <div class="tabs">
            <button class="tab-button" data-tab="html">HTML</button>
            <button class="tab-button" data-tab="css">CSS</button>
            <button class="tab-button" data-tab="js">JavaScript</button>
          </div>
          <pre><code class="kit-code-box hljs"></code></pre>
          <button class="copy-button">복사</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


